In [2]:
import pandas as pd
import numpy as np
import csv
pd.set_option('display.max_columns',50)
pd.set_option('display.max_rows',150)

In [3]:
%%time

cases = pd.read_csv('/Users/stjames/Dropbox/Pablo/data/EOIR TRAC JUNE/A_TblCase.csv', 
                    sep='\t', 
                    dtype='str', 
                    error_bad_lines=False, 
                    warn_bad_lines=False, 
                    encoding='latin-1', 
                    na_values=' ', 
                    quoting=csv.QUOTE_NONE)

proceedings = pd.read_csv("/Users/stjames/Dropbox/Pablo/data/EOIR TRAC JUNE/B_TblProceeding.csv", 
                          sep='\t', 
                          dtype='str',
                          on_bad_lines='skip',
                          na_values=' ',
                          quoting=csv.QUOTE_NONE)

charges = pd.read_csv("/Users/stjames/Dropbox/Pablo/data/EOIR TRAC JUNE/B_TblProceedCharges.csv", 
                      sep='\t',
                      dtype='str', 
                      na_values=' ',
                      on_bad_lines='skip',
                      quoting=csv.QUOTE_NONE)

charge_lookup = pd.read_csv("/Users/stjames/Dropbox/Pablo/data/EOIR TRAC JUNE/Lookup/tbllookupCharges.csv", 
                            sep='\t',
                            dtype='str',
                            na_values=' ',
                            on_bad_lines='skip',
                            quoting=csv.QUOTE_NONE)
motions = pd.read_csv("/Users/stjames/Dropbox/Pablo/data/EOIR TRAC JUNE/tbl_Court_Motions.csv", 
                            sep='\t',
                            dtype='str',
                            na_values=' ',
                            on_bad_lines='skip',
                            quoting=csv.QUOTE_NONE) 
schedule = pd.read_csv("/Users/stjames/Dropbox/Pablo/data/EOIR TRAC JUNE/tbl_schedule.csv", 
                            sep='\t',
                            dtype='str',
                            na_values=' ',
                            on_bad_lines='skip',
                            quoting=csv.QUOTE_NONE)
case_identifier = pd.read_csv('/Users/stjames/Dropbox/Pablo/data/EOIR TRAC JUNE/A_TblCaseIdentifier.csv', 
                              sep='\t',
                              dtype='str',
                              na_values=' ',
                              on_bad_lines='skip',
                              quoting=csv.QUOTE_NONE)
schema = pd.read_csv('/Users/stjames/Dropbox/Pablo/data/EOIR TRAC JUNE/EOIRDB_Schema.csv', sep='\t',
                              dtype='str',
                              na_values=' ',
                              on_bad_lines='skip',
                              quoting=csv.QUOTE_NONE)

hlcodes = pd.read_csv('/Users/stjames/Dropbox/Pablo/data/EOIR TRAC JUNE/Lookup/tblLookupHloc.csv', sep='\t',
                              dtype='str',
                              na_values=' ',
                              on_bad_lines='skip',
                              quoting=csv.QUOTE_NONE)

/Users/pablobadra/opt/anaconda3/lib/python3.9/site-packages/IPython/core/magics/execution.py:1324: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code, glob, local_ns)
/Users/pablobadra/opt/anaconda3/lib/python3.9/site-packages/IPython/core/magics/execution.py:1324: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code, glob, local_ns)

CPU times: user 2min 18s, sys: 54.6 s, total: 3min 13s
Wall time: 3min 44s

In [4]:
# clean motions table

motions = motions.reset_index()

# Shift column names two spaces to the left

motions.columns = list(motions.columns[2:]) + ['blank 1', 'blank 2']

In [ ]:
# clean schedule table

# Function to check if a value is numerical
def is_numerical(value):
    if isinstance(value, (int, float)):
        return True
    elif isinstance(value, str) and value.isdigit():
        return True
    return False

# Vectorize the function to work with Pandas Series
vectorized_is_numerical = np.vectorize(is_numerical)

# Create a boolean mask indicating valid IDNCASE values
valid_idncase_mask = vectorized_is_numerical(schedule["IDNCASE"])

# Print the invalid IDNCASE values
print("Dropping rows with non-numerical IDNCASE values:")
print(schedule.loc[~valid_idncase_mask, "IDNCASE"])

# Use boolean indexing to keep only rows with numerical IDNCASE values
schedule = schedule[valid_idncase_mask]

schedule['IDNCASE'] = schedule['IDNCASE'].astype('int')

In [9]:
case_identifier.IDNCASE = case_identifier.IDNCASE.astype('int')
cases.IDNCASE = cases.IDNCASE.astype('int')

In [196]:
print(f"Cases: {cases.shape[0]:,}")
print(f"Proceedings: {proceedings.shape[0]:,}")
print(f"Motions: {motions.shape[0]:,}")
print(f"Schedule: {schedule.shape[0]:,}")

Cases: 9,360,337
Proceedings: 12,141,878
Motions: 4,629,241
Schedule: 33,813,961

In [10]:
# selecting all of the cases labeled as franco litigation
fl = case_identifier[case_identifier['CASE_ID']=='FL']

In [11]:
fl_cases = cases[cases['IDNCASE'].isin(fl.IDNCASE)]

In [13]:
fl_cases.NAT.value_counts().head()

MX    1007
ES     155
HO     142
GT     113
NU      22
Name: NAT, dtype: int64

In [53]:
fl_cases.CASE_TYPE.value_counts()

RMV    1689
WHO     136
AOC      21
DEP       5
CFR       4
RFR       2
Name: CASE_TYPE, dtype: int64

In [22]:
proceedings.head()

,IDNPROCEEDING,IDNCASE,OSC_DATE,INPUT_DATE,BASE_CITY_CODE,HEARING_LOC_CODE,IJ_CODE,TRANS_IN_DATE,PREV_HEARING_LOC,PREV_HEARING_BASE,PREV_IJ_CODE,TRANS_NBR,HEARING_DATE,HEARING_TIME,DEC_TYPE,DEC_CODE,DEPORTED_1,DEPORTED_2,OTHER_COMP,APPEAL_RSVD,APPEAL_NOT_FILED,COMP_DATE,ABSENTIA,VENUE_CHG_GRANTED,TRANSFER_TO,DATE_APPEAL_DUE_STATUS,TRANSFER_STATUS,CUSTODY,CASE_TYPE,NAT,LANG,SCHEDULED_HEAR_LOC,CORRECTIONAL_FAC,CRIM_IND,IHP,AGGRAVATE_FELON,DATE_DETAINED,DATE_RELEASED
0,10661434,10095854,2021-11-23 00:00:00.000,2022-03-29 00:00:00.000,PHI,PHI,JHS,2022-04-05 00:00:00.000,NAT,NEW,PLE,01,2023-04-12 00:00:00.000,1300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,N,RMV,BR,POR,NaN,NaN,N,NaN,0,NaN,NaN
1,10661435,10504057,2022-03-30 00:00:00.000,2022-03-30 00:00:00.000,HSG,HSG,NES,NaN,NaN,NaN,NaN,NaN,2022-12-05 00:00:00.000,0830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,RMV,CU,SP,NaN,NaN,N,NaN,0,NaN,NaN
2,10661437,9589112,2019-05-11 00:00:00.000,2022-03-30 00:00:00.000,NYV,NYV,TSM,2022-04-04 00:00:00.000,WAS,WAS,LL1,01,2023-07-11 00:00:00.000,0830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,N,RMV,HO,SP,NaN,NaN,N,NaN,0,NaN,NaN
3,10661438,10504059,2022-03-30 00:00:00.000,2022-03-30 00:00:00.000,SMO,SMO,LSG,NaN,NaN,NaN,NaN,NaN,2022-05-16 00:00:00.000,0800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,RMV,RU,RUS,NaN,NaN,N,NaN,0,NaN,NaN
4,10661440,10504060,2022-03-30 00:00:00.000,2022-04-28 00:00:00.000,SNA,SNA,DJS,NaN,NaN,NaN,NaN,NaN,2023-04-20 00:00:00.000,0900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,RMV,HO,SP,NaN,NaN,N,NaN,0,NaN,NaN

In [30]:
# selecting all of the franco litigation labeled cases from the schedule table
fl_schedule = schedule.merge(fl[['IDNCASE']], on='IDNCASE', how='inner')

In [32]:
proceedings.head()

,IDNPROCEEDING,IDNCASE,OSC_DATE,INPUT_DATE,BASE_CITY_CODE,HEARING_LOC_CODE,IJ_CODE,TRANS_IN_DATE,PREV_HEARING_LOC,PREV_HEARING_BASE,PREV_IJ_CODE,TRANS_NBR,HEARING_DATE,HEARING_TIME,DEC_TYPE,DEC_CODE,DEPORTED_1,DEPORTED_2,OTHER_COMP,APPEAL_RSVD,APPEAL_NOT_FILED,COMP_DATE,ABSENTIA,VENUE_CHG_GRANTED,TRANSFER_TO,DATE_APPEAL_DUE_STATUS,TRANSFER_STATUS,CUSTODY,CASE_TYPE,NAT,LANG,SCHEDULED_HEAR_LOC,CORRECTIONAL_FAC,CRIM_IND,IHP,AGGRAVATE_FELON,DATE_DETAINED,DATE_RELEASED
0,10661434,10095854,2021-11-23 00:00:00.000,2022-03-29 00:00:00.000,PHI,PHI,JHS,2022-04-05 00:00:00.000,NAT,NEW,PLE,01,2023-04-12 00:00:00.000,1300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,N,RMV,BR,POR,NaN,NaN,N,NaN,0,NaN,NaN
1,10661435,10504057,2022-03-30 00:00:00.000,2022-03-30 00:00:00.000,HSG,HSG,NES,NaN,NaN,NaN,NaN,NaN,2022-12-05 00:00:00.000,0830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,RMV,CU,SP,NaN,NaN,N,NaN,0,NaN,NaN
2,10661437,9589112,2019-05-11 00:00:00.000,2022-03-30 00:00:00.000,NYV,NYV,TSM,2022-04-04 00:00:00.000,WAS,WAS,LL1,01,2023-07-11 00:00:00.000,0830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,N,RMV,HO,SP,NaN,NaN,N,NaN,0,NaN,NaN
3,10661438,10504059,2022-03-30 00:00:00.000,2022-03-30 00:00:00.000,SMO,SMO,LSG,NaN,NaN,NaN,NaN,NaN,2022-05-16 00:00:00.000,0800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,RMV,RU,RUS,NaN,NaN,N,NaN,0,NaN,NaN
4,10661440,10504060,2022-03-30 00:00:00.000,2022-04-28 00:00:00.000,SNA,SNA,DJS,NaN,NaN,NaN,NaN,NaN,2023-04-20 00:00:00.000,0900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,RMV,HO,SP,NaN,NaN,N,NaN,0,NaN,NaN

In [ ]:
hlcodes[hlcodes['HEARING_LOC_CODE']=='EAZ']

,idnHloc,HEARING_LOC_CODE,HEARING_LOC_NAME,HEARING_CORR_TITLE,HEARING_ST_ADDRESS,HEARING_CITY,HEARING_STATE,HEARING_ZIP,HEARING_PHONE_NO,HEARING_BASE_CITY,Hear_Admin_Hear_Loc,Hear_Trans_COV_City,Hear_Det_Type,Hear_Active_Flg,datCreatedOn,datModifiedOn,blnActive,ROPLoc,intCalDetainDays,intCalINSAsyPDays,intCalINSAsyMDays,intCalINSDays,intCalEOIRDays,intCalCFRDays,intCalCDRDays,CircuitCourt,blnPrnWksOnAdd,blnPrnRopOnAdd
243,80,EAZ,ELOY INS DETENTION CENTER,IMMIGRATION COURT,"1705 EAST HANNA RD., SUITE 366",ELOY,AZ,85131,5204663671,ELO,ELO,CAF,NaN,Y,NaN,2021-02-16 12:38:35.547,1,ELO,0,46,46,46,46,0,0,9,0,0

In [34]:
fl_schedule.HEARING_LOC_CODE.value_counts().head()

ADW    5058
CCA    3019
OTM    2612
EAZ    2556
SFD    2457
Name: HEARING_LOC_CODE, dtype: int64

In [35]:
# the adjournment code for 'Appointed Qualified Representative' is 61, cross checked on the tblAdjournmentCodes LookUP

In [36]:
RSN61 = fl_schedule[fl_schedule.ADJ_RSN=='61']

In [37]:
# the adjournment code for 'Judicial Competency Inquiry' is 61, cross checked on the tblAdjournmentCodes LookUP

In [38]:
RSN62 = fl_schedule[fl_schedule.ADJ_RSN=='62']

In [39]:
fl_schedule.IDNCASE.nunique()

1853

In [40]:
RSN62.IDNCASE.nunique()

1103

In [41]:
RSN61.IDNCASE.nunique()

836

In [42]:
# so what i think is happening here is that there are 
# 1853 cases in this record categorized as franco litigation
# 1103 cases had JCIs 
# 836 were appointed QRs?

In [ ]:
# what about regular fl_schedule?

In [54]:
not_fl_schedule = schedule[~schedule.IDNCASE.isin(fl_schedule.IDNCASE)]

In [56]:
NRSN61 = not_fl_schedule[not_fl_schedule.ADJ_RSN=='61']

In [58]:
not_fl_schedule.IDNCASE.nunique()

9155395

In [59]:
NRSN62.IDNCASE.nunique()

2822

In [60]:
NRSN61.IDNCASE.nunique()

1316

In [61]:
# so what i see above is kinda like showing JCIs and Franco QRs for cases not labeled FL Cases.

In [ ]:
# Question: When are the cases from FL and Not FL
# Question: What *type* of cases are from each? RMV? Are they detained? 
# Question: For both categories; are people getting QRs without JCIs? If so, should they be excluded?

In [105]:
schedule.INPUT_DATE = pd.to_datetime(schedule.INPUT_DATE)

In [77]:
not_fl_schedule.INPUT_DATE = pd.to_datetime(not_fl_schedule.INPUT_DATE)
fl_schedule.INPUT_DATE = pd.to_datetime(fl_schedule.INPUT_DATE)

/Users/pablobadra/opt/anaconda3/lib/python3.9/site-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [78]:
f_not_fl_schedule = not_fl_schedule[not_fl_schedule['ADJ_RSN']=='61']
f_fl_schedule = fl_schedule[fl_schedule['ADJ_RSN']=='61']

In [106]:
f_schedule = schedule[schedule['ADJ_RSN']=='61']

In [91]:
j_not_fl_schedule = not_fl_schedule[not_fl_schedule['ADJ_RSN']=='62']
j_fl_schedule = fl_schedule[fl_schedule['ADJ_RSN']=='62']

In [108]:
j_schedule = schedule[schedule['ADJ_RSN']=='62']

In [90]:
j_not_fl_schedule.INPUT_DATE.dt.year.value_counts().sort_index()

2012      1
2013      1
2014     12
2015     96
2016    300
2017    684
2018    765
2019    685
2020    331
2021    209
2022    350
2023    177
Name: INPUT_DATE, dtype: int64

In [92]:
j_fl_schedule.INPUT_DATE.dt.year.value_counts().sort_index()

2014      8
2015    312
2016    219
2017    217
2018    173
2019    179
2020     87
2021     56
2022     73
2023     46
Name: INPUT_DATE, dtype: int64

In [82]:
f_fl_schedule.INPUT_DATE.dt.year.value_counts().sort_index()
# shows the distribution of dates where adjournment rsn code 61 appears 
# for the cases already identified as franco litigation

2013      2
2014     48
2015    251
2016    137
2017    140
2018    135
2019    162
2020     86
2021     35
2022     39
2023     22
Name: INPUT_DATE, dtype: int64

In [81]:
f_not_fl_schedule.INPUT_DATE.dt.year.value_counts().sort_index()
# shows the distribution of dates where adjournment rsn code 61 appears 
# for the cases *not* identified as franco litigation

2012      1
2013      4
2014    124
2015     50
2016    135
2017    279
2018    401
2019    343
2020    216
2021     97
2022    139
2023     85
Name: INPUT_DATE, dtype: int64

In [98]:
(j_fl_schedule.INPUT_DATE.dt.year.value_counts().sort_index() + j_not_fl_schedule.INPUT_DATE.dt.year.value_counts().sort_index()).fillna(1).astype('int')

# combined JCI

2012      1
2013      1
2014     20
2015    408
2016    519
2017    901
2018    938
2019    864
2020    418
2021    265
2022    423
2023    223
Name: INPUT_DATE, dtype: int64

In [103]:
(f_fl_schedule.INPUT_DATE.dt.year.value_counts().sort_index() + f_not_fl_schedule.INPUT_DATE.dt.year.value_counts().sort_index()).fillna(1).astype('int')

# combined appointed QR for cases labeled franco litigation and cases not labeled franco litigation

2012      1
2013      6
2014    172
2015    301
2016    272
2017    419
2018    536
2019    505
2020    302
2021    132
2022    178
2023    107
Name: INPUT_DATE, dtype: int64

In [ ]:
# just to double check my work - here it is with the original schedule DF

In [109]:
j_schedule.INPUT_DATE.dt.year.value_counts().sort_index()

2012      1
2013      1
2014     20
2015    408
2016    519
2017    901
2018    937
2019    863
2020    417
2021    265
2022    423
2023    223
Name: INPUT_DATE, dtype: int64

In [110]:
f_schedule.INPUT_DATE.dt.year.value_counts().sort_index()

2012      1
2013      6
2014    172
2015    301
2016    272
2017    419
2018    536
2019    502
2020    300
2021    132
2022    178
2023    107
Name: INPUT_DATE, dtype: int64

In [104]:
# what i'm getting from this is that maybe the "FL CASES" code is not the best way to identify our capture group

In [ ]:
# and just to explore the idea; why is the JCIs scheduled and QRs appointed look like its decreasing? 
# why is it decerasing? due to location / demographics / IJs or is it all across the board?

In [134]:
# Check if there are any common 'IDNCASE' numbers
common_values = not_fl_schedule['IDNCASE'].isin(fl_schedule['IDNCASE']).any()

print("Common IDNCASE in both DataFrames:", common_values)

Common IDNCASE in both DataFrames: False

In [85]:
# appears my mathematical calculations are indeed correct

In [144]:
f_schedule.IDNCASE.drop_duplicates().isin(j_schedule.IDNCASE.drop_duplicates()).value_counts()

True     1136
False    1016
Name: IDNCASE, dtype: int64

In [146]:
# check that all people receiving QRs are having JCIs first
common_values = f_schedule.IDNCASE.drop_duplicates().isin(j_schedule.IDNCASE.drop_duplicates()).value_counts()

print("Number of IDNCASE appointed QR:", common_values[0]+common_values[1])
print("Number of IDNCASE appointed QR who also received JCI:", common_values[1])

Number of IDNCASE appointed QR: 2152
Number of IDNCASE appointed QR who also received JCI: 1136

In [ ]:
# actually whats going on here?

In [161]:
mask = ~f_schedule.IDNCASE.drop_duplicates().isin(j_schedule.IDNCASE.drop_duplicates())
NO_JCI_QR = f_schedule.IDNCASE.drop_duplicates()[mask]
NO_JCI_QR = NO_JCI_QR.to_frame()
NO_JCI_QR.IDNCASE = NO_JCI_QR.IDNCASE.astype('int')

In [164]:
case_identifier[case_identifier['IDNCASE'].isin(NO_JCI_QR.IDNCASE)]

         IDNCASEID     IDNCASE CASE_ID
125214      167382   5361453.0      D6
138314      183156   5517419.0      D6
229175      294461   6022572.0      P2
281308      358798   6397751.0      P2
349701      474511   7141048.0      AD
...            ...         ...     ...
1363328    1747865   9384455.0      OC
1363387    1747928   7326800.0      OC
1364272    1748836   8835112.0      OC
1366027    1750640  10478293.0      OC
1372514    1757367   9484354.0      CF

[512 rows x 3 columns]

In [ ]:
# actually why are there only 512 rows for something that should be the same length as NO_JCI_QR

In [ ]:
# and what exactly is a IDNCASEID anyway? - its many IDNCASEID per IDNCASE

In [172]:
case_identifier[case_identifier['IDNCASE'].isin(NO_JCI_QR.IDNCASE)].IDNCASE.value_counts()

8094997.0    4
7409040.0    3
7402077.0    3
9039632.0    3
7578197.0    3
            ..
7182487.0    1
7500310.0    1
7763184.0    1
7508674.0    1
9484354.0    1
Name: IDNCASE, Length: 381, dtype: int64

In [ ]:
# so of the 1000 or so IDNCASES that got appointed QR and no JCI, i found 381 IDNCASES in the actual case_identifier table

In [174]:
case_identifier[case_identifier['IDNCASE'].isin(NO_JCI_QR.IDNCASE)].CASE_ID.value_counts()

FL    306
CD     75
OC     36
CF     24
P2     19
PC     11
DS      8
PT      5
RO      5
CR      4
PL      3
FA      3
D6      2
MP      2
RD      2
IR      2
4M      2
EM      1
AD      1
TM      1
Name: CASE_ID, dtype: int64

In [ ]:
# and at least 306 of them were definitely designated as FL

In [175]:
# this makes me want to filter out records that were neither designated as FL or given a JCI
# a filter for IDNCASE id's w/ at least 1 JCI
# a filter for IDNCASE id's w/ at least 1 QR appointed, at least 1 JCI OR designated as CASE_TYPE=FL

In [ ]:
# this doesn't solve the mistery of the 635 or so IDNCASE id's that did not appear in the case_identifier table. spooky. 
# maybe this is a feature of the dataset? that all IDNCASE id's are not necessarily assigned an IDNCASEID and a CASE_TYPE?

In [181]:
NO_JCI_ID_QR = NO_JCI_QR[~NO_JCI_QR.IDNCASE.isin(case_identifier.IDNCASE)].IDNCASE.to_frame()

In [186]:
cases.IDNCASE.nunique()

9360337

In [187]:
case_identifier.IDNCASE.nunique()

1308537

In [ ]:
# so here we can see that the numbers do not add up between the two. some are in cases. some are in case_identifier. some are in both.

In [ ]:
# pretty safe

In [ ]:
NO_JCI_ID_QR

           IDNCASE
12781      8497116
65263     10883026
104779     7913343
143919     9802093
223177    11097027
...            ...
33395170   7447023
33504876  11411292
33570418   8173833
33603863  11228642
33609492   9636456

[635 rows x 1 columns]

In [125]:
(f_schedule.IDNCASE.value_counts()>1).sum()

587

In [88]:
f_not_fl_schedule.head()

,IDNSCHEDULE,IDNPROCEEDING,IDNCASE,OSC_DATE,GENERATION,SUB_GENERATION,REC_TYPE,LANG,HEARING_LOC_CODE,BASE_CITY_CODE,IJ_CODE,INTERPRETER_CODE,INPUT_DATE,INPUT_TIME,UPDATE_DATE,UPDATE_TIME,ASSIGNMENT_PATH,CAL_TYPE,ADJ_DATE,ADJ_TIME_START,ADJ_TIME_STOP,ADJ_RSN,ADJ_MEDIUM,ADJ_MSG,ADJ_ELAP_DAYS,LNGSESSNID,SCHEDULE_TYPE,NOTICE_CODE,BLNCLOCKOVERRIDE,EOIRAttorneyID
12781,32456030,8101994,8497116.0,2018-04-26,99,NaN,X,AR,CHD,CHI,KLD,NaN,2018-08-17 00:00:00.000,1020,2019-01-08 09:47:19.300,0947,NaN,I,2018-09-07 00:00:00.000,1330,1700,61,V,NaN,0018,9964253,ID,D2,0,NaN
65263,43435507,11116380,10883026.0,2022-08-10,99,NaN,X,SP,NYC,NYC,LTF,NaN,2022-08-10 16:08:37.443,1608,2022-12-20 11:41:40.000,1141,W,M,2022-12-19 00:00:00.000,0830,0900,61,C,NaN,NaN,16689593,MM,NaN,0,NaN
104779,29071604,7282817,7913343.0,2016-05-10,98,NaN,X,SP,ADW,ADL,ATL,NaN,2016-07-12 00:00:00.000,1254,2016-07-20 13:14:39.000,1314,NaN,M,2016-07-20 00:00:00.000,0800,0830,61,P,NaN,0000,7839666,MM,V3,0,NaN
104848,29071673,7241514,7923660.0,2016-05-11,99,NaN,X,SP,AUR,AUR,EHM,NaN,2016-07-12 00:00:00.000,1305,2016-08-03 12:38:39.000,1238,NaN,I,2016-08-02 00:00:00.000,1300,1400,61,P,NaN,0000,7821924,II,Z3,0,NaN
139877,33789354,8483369,7566292.0,2014-11-07,98,NaN,X,SP,YOR,BAL,KQG,NaN,2019-04-02 00:00:00.000,0945,2019-04-04 10:35:03.000,1035,NaN,M,2019-04-04 00:00:00.000,0930,1000,61,P,NaN,0000,10415144,MR,3Y,0,NaN

In [47]:
cal_type = pd.read_csv('/Users/stjames/Dropbox/Pablo/data/EOIR TRAC JUNE/Lookup/tbllookupCal_Type.csv',sep='\t')

In [50]:
cal_type.head()

,idnCalType,strCalTypeCode,strCalTypeDescription,datCreatedOn,datModifiedOn,blnActive
0,1,*,Non-Work,2002-11-21 12:46:14.360,NaN,1
1,21,A,Administrative,2002-11-21 12:46:14.360,NaN,1
2,2,A,Attorney Discipline,2002-11-21 12:46:14.360,NaN,1
3,3,C,Circulation,2002-11-21 12:46:14.360,NaN,1
4,4,C,Conference,2002-11-21 12:46:14.360,NaN,1

In [114]:
case_identifier.head()

   IDNCASEID    IDNCASE CASE_ID
0          1  2046920.0      SR
1          2  2046921.0      SR
2          3  2046922.0      SR
3          4  2046924.0      SR
4          5  2046925.0      SR

In [112]:
cases.head()

,IDNCASE,ALIEN_CITY,ALIEN_STATE,ALIEN_ZIPCODE,UPDATED_ZIPCODE,UPDATED_CITY,NAT,LANG,CUSTODY,SITE_TYPE,E_28_DATE,ATTY_NBR,CASE_TYPE,UPDATE_SITE,LATEST_HEARING,LATEST_TIME,LATEST_CAL_TYPE,UP_BOND_DATE,UP_BOND_RSN,CORRECTIONAL_FAC,RELEASE_MONTH,RELEASE_YEAR,INMATE_HOUSING,DATE_OF_ENTRY,C_ASY_TYPE,C_BIRTHDATE,C_RELEASE_DATE,UPDATED_STATE,ADDRESS_CHANGEDON,ZBOND_MRG_FLAG,GENDER,DATE_DETAINED,DATE_RELEASED,LPR,DETENTION_DATE,DETENTION_LOCATION,DCO_LOCATION,DETENTION_FACILITY_TYPE,CASEPRIORITY_CODE
0,11812380.0,OAKLAND,CA,94601,NaN,NaN,ES,SP,N,M,NaN,NaN,RMV,SFR,2025-05-27 00:00:00.000,1330,M,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-14 00:00:00.000,NaN,11/2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11812381.0,CARROLTON,TX,75007,NaN,NaN,PE,SP,N,M,NaN,NaN,RMV,DAL,2027-04-07 00:00:00.000,1300,M,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-17 00:00:00.000,NaN,10/1998,NaN,NaN,NaN,NaN,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11812382.0,NaN,NaN,NaN,NaN,NaN,ER,ENG,N,M,NaN,NaN,RMV,NYC,2023-11-28 00:00:00.000,1030,M,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-03 00:00:00.000,NaN,3/1992,NaN,NaN,NaN,NaN,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11812383.0,SARASOTA,FL,34234,NaN,NaN,VE,SP,N,M,NaN,NaN,RMV,ORL,2025-07-15 00:00:00.000,0830,M,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-03 00:00:00.000,NaN,7/1995,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11812384.0,SARASOTA,FL,34234,NaN,NaN,VE,SP,N,M,NaN,NaN,RMV,ORL,2025-07-15 00:00:00.000,0830,M,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-03 00:00:00.000,NaN,2/2016,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [111]:
proceedings.head()

,IDNPROCEEDING,IDNCASE,OSC_DATE,INPUT_DATE,BASE_CITY_CODE,HEARING_LOC_CODE,IJ_CODE,TRANS_IN_DATE,PREV_HEARING_LOC,PREV_HEARING_BASE,PREV_IJ_CODE,TRANS_NBR,HEARING_DATE,HEARING_TIME,DEC_TYPE,DEC_CODE,DEPORTED_1,DEPORTED_2,OTHER_COMP,APPEAL_RSVD,APPEAL_NOT_FILED,COMP_DATE,ABSENTIA,VENUE_CHG_GRANTED,TRANSFER_TO,DATE_APPEAL_DUE_STATUS,TRANSFER_STATUS,CUSTODY,CASE_TYPE,NAT,LANG,SCHEDULED_HEAR_LOC,CORRECTIONAL_FAC,CRIM_IND,IHP,AGGRAVATE_FELON,DATE_DETAINED,DATE_RELEASED
0,10661434,10095854,2021-11-23 00:00:00.000,2022-03-29 00:00:00.000,PHI,PHI,JHS,2022-04-05 00:00:00.000,NAT,NEW,PLE,01,2023-04-12 00:00:00.000,1300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,N,RMV,BR,POR,NaN,NaN,N,NaN,0,NaN,NaN
1,10661435,10504057,2022-03-30 00:00:00.000,2022-03-30 00:00:00.000,HSG,HSG,NES,NaN,NaN,NaN,NaN,NaN,2022-12-05 00:00:00.000,0830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,RMV,CU,SP,NaN,NaN,N,NaN,0,NaN,NaN
2,10661437,9589112,2019-05-11 00:00:00.000,2022-03-30 00:00:00.000,NYV,NYV,TSM,2022-04-04 00:00:00.000,WAS,WAS,LL1,01,2023-07-11 00:00:00.000,0830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,N,RMV,HO,SP,NaN,NaN,N,NaN,0,NaN,NaN
3,10661438,10504059,2022-03-30 00:00:00.000,2022-03-30 00:00:00.000,SMO,SMO,LSG,NaN,NaN,NaN,NaN,NaN,2022-05-16 00:00:00.000,0800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,RMV,RU,RUS,NaN,NaN,N,NaN,0,NaN,NaN
4,10661440,10504060,2022-03-30 00:00:00.000,2022-04-28 00:00:00.000,SNA,SNA,DJS,NaN,NaN,NaN,NaN,NaN,2023-04-20 00:00:00.000,0900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,RMV,HO,SP,NaN,NaN,N,NaN,0,NaN,NaN

In [116]:
schedule.head()

,IDNSCHEDULE,IDNPROCEEDING,IDNCASE,OSC_DATE,GENERATION,SUB_GENERATION,REC_TYPE,LANG,HEARING_LOC_CODE,BASE_CITY_CODE,IJ_CODE,INTERPRETER_CODE,INPUT_DATE,INPUT_TIME,UPDATE_DATE,UPDATE_TIME,ASSIGNMENT_PATH,CAL_TYPE,ADJ_DATE,ADJ_TIME_START,ADJ_TIME_STOP,ADJ_RSN,ADJ_MEDIUM,ADJ_MSG,ADJ_ELAP_DAYS,LNGSESSNID,SCHEDULE_TYPE,NOTICE_CODE,BLNCLOCKOVERRIDE,EOIRAttorneyID
0,30032802,7568117,8145563.0,2016-08-12 00:00:00.000,99,NaN,X,SP,LOS,LOS,ARD,NaN,2017-03-11,1528,2017-06-19 17:10:48.000,1710,NaN,M,2017-06-19 00:00:00.000,1330,1400,01,P,NaN,0000,8135098,MM,T3,0,NaN
1,30032805,7568160,8145606.0,2016-05-06 00:00:00.000,99,NaN,X,SP,LOS,LOS,ARD,NaN,2017-03-11,1528,2022-05-12 14:17:29.000,1417,NaN,M,2017-06-12 00:00:00.000,1330,1400,21,P,NaN,0053,8135086,MM,T3,0,NaN
2,30032806,7568159,8145605.0,2016-07-15 00:00:00.000,99,NaN,X,SP,LOS,LOS,HO,NaN,2017-03-11,1529,2017-05-23 14:16:12.000,1416,NaN,M,2017-06-13 00:00:00.000,1330,1400,35,P,NaN,0000,8135092,MM,N6,0,NaN
3,30032807,7568161,8145607.0,2016-08-24 00:00:00.000,99,NaN,X,SP,LOS,LOS,HO,NaN,2017-03-11,1530,2017-05-31 12:04:27.000,1204,NaN,M,2017-06-19 00:00:00.000,1330,1400,14,P,NaN,0000,8135098,MM,T3,0,NaN
4,30032808,7568164,8145610.0,2016-08-24 00:00:00.000,99,NaN,X,SP,LOS,LOS,HO,NaN,2017-03-11,1532,2017-05-31 12:04:27.000,1204,NaN,M,2017-06-19 00:00:00.000,1330,1400,14,P,NaN,0000,8135098,MM,T3,0,NaN

In [193]:
case_identifier.head()

   IDNCASEID    IDNCASE CASE_ID
0          1  2046920.0      SR
1          2  2046921.0      SR
2          3  2046922.0      SR
3          4  2046924.0      SR
4          5  2046925.0      SR

In [ ]:
# okay so we're trying this again. skipping case id, going straight to schedule